<div class="logo">
  <a [routerLink]="'/dashboard'" class="simple-text logo-normal">
    <img src="./assets/img/khonologo.png" />
  </a>
</div>
<div class="sidebar-wrapper">
  <div class="profile_div">
    <img src="{{shared.profile.profile_picture}}" class="profile_pic"/>
    <span><div [ngClass]="shared.getStatusColor(shared.profile.status)"></div></span>
    <span style="margin-left: 10px; color: #fff; font-weight: 600;">{{shared.profile.name}}</span>
  </div>
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="now-ui-icons {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
