.profile_pic {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    border: 2px solid #777;
}

.message_area {
    background-color: #eee;
    padding: 10px;
}

.message {
    margin: 10px;
}