<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="profile_div">
                <img
                  src="{{ shared.profile.profile_picture }}"
                  class="profile_pic"
                />
                <span><div [ngClass]="statusColor"></div></span>
                <span
                  style="margin-left: 10px; color: #000; font-weight: 600;"
                  >{{ shared.profile.name }}</span
                >
                <br />
                <select
                  [selectedIndex]="getSelectedIndex()"
                  (change)="updateStatus($event)"
                >
                  <option value="1">Available</option>
                  <option value="2">Busy</option>
                  <option value="3">Unavailable</option>
                </select>
              </div>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="message_area">
                <div class="message" *ngFor="let message of messages" [ngClass]="message.from === shared.profile.id ? '' : 'text-right'">
                  <b>{{getUser(message.from)}}</b> - {{message.message}}<br/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <select style="margin-top: 30px;" (change)="selectTo($event)">
                <option
                  *ngFor="let item of shared.profiles"
                  [value]="item.id"
                  >{{ item.name }}</option
                >
              </select>
            </div>
            <div class="col-md-8">
              <br />
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Type your message here"
                  [(ngModel)]="message"
                />
              </div>
            </div>
            <div class="col-md-2 text-right">
              <button
                class="btn btn-fill btn-primary"
                style="margin-top: 18px;"
                (click)="sendMessage()"
              >
                <i class="now-ui-icons ui-1_send"></i> Send Message
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
